@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #000;
  color: #fff;
}

.info-container {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111;
}

.info-header {
  padding: 16px;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #333;
}

.info-header h1 {
  font-size: 1.5rem;
}
.search-container {
  padding: 16px;
}

.search-input {
  position: relative;
  width: 100%;
  background-color: #222;
  border-radius: 30px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.search-input input {
  background: transparent;
  border: none;
  outline: none;
  color: #b0b0b0;
  font-size: 16px;
  width: 100%;
  font-family: "DM Sans", sans-serif;
}

.search-input input::placeholder {
  color: #858585;
  opacity: 0.7;
}

.category-tabs {
  display: flex;
  overflow-x: scroll;
  border-bottom: 1px solid #333;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.category-tabs::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome/Safari */
}

.category-tab {
  padding: 10px 20px;
  background: transparent;
  border: none;
  border-radius: 0px;
  color: #888;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
}

.category-tab.active {
  color: #fff;
  border-bottom: 2px solid #ff3366;
}

.topics-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.topic-card {
  background-color: #222;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 10px;
}

.topic-card h3 {
  font-size: 16px;
  margin-bottom: 4px;
  color: #fff;
}

.topic-card p {
  font-size: 14px;
  color: #888;
}

.bottom-navbar {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  background-color: #222;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bottom-navbar button {
  background: none;
  border: none;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottom-navbar button svg {
  width: 24px;
  height: 24px;
}

.bottom-navbar button:focus {
  outline: none;
}
